/__init__.py
/dist/trello_client_basics_api_by_Sarenkov-0.0.1-py3-none-any.whl
/dist/trello_client-basics-api-by-Sarenkov-0.0.1.tar.gz
/LICENSE
/setup.py
/trello_client_basics_api_by_Sarenkov.egg-info/dependency_links.txt
/trello_client_basics_api_by_Sarenkov.egg-info/PKG-INFO
/trello_client_basics_api_by_Sarenkov.egg-info/SOURCES.txt
/trello_client_basics_api_by_Sarenkov.egg-info/top_level.txt
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/INSTALLER
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/LICENSE
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/METADATA
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/RECORD
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/top_level.txt
/venv/Lib/site-packages/trello_client_basics_api_by_Sarenkov-0.0.1.dist-info/WHEEL
